<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Contactos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h1>Lista de Contactos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Número de Documento</th>
                <th>Dirección</th>
                <th>Teléfonos</th>
                <th>Correos Electrónicos</th>
            </tr>
        </thead>
        <tbody>
            {% for contacto in contactos %}
            <tr>
                <td>{{ contacto.nombre_completo }}</td>
                <td>{{ contacto.numero_documento }}</td>
                <td>{{ contacto.direccion }}</td>
                <td>
                    <ul>
                        {% for telefono in contacto.telefonos %}
                        <li>{{ telefono.numero }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for correo in contacto.correos %}
                        <li>{{ correo.direccion }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <!-- Agregar un botón de eliminación -->
                    <form method="POST" action="{{ url_for('eliminar_contacto', id=contacto.id) }}">
                    
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                    <!-- Agregar un enlace para editar (opcional) -->
                    <a href="{{ url_for('editar_contacto', id=contacto.id) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('registrar_contacto') }}">Registrar Nuevo Contacto</a>
</body>
</html>
